.root {
    background: rgba(9, 44, 57, 1);
    width: 282px;
    height: 504px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    & > img {
        flex: 1;
        object-fit: cover;
    }
    &:hover {
        opacity: 0.8;
    }
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.date {
    font-size: 14px;
    font-weight: 400;
}
