.root {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}

/* Hide the browser's default checkbox */
.root input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgba(34, 73, 87, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root:hover input ~ .checkmark {
    opacity: 0.8;
}

.root input:checked ~ .checkmark {
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.root input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.root .checkmark:after {
    width: 3px;
    height: 6px;
    margin-top: -2px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
