.root {
    padding: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    gap: 0 20px;
    & > label {
        display: flex;
        justify-content: flex-start !important;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
    margin-top: 40px;
}

.uploader {
    height: 100% !important;
    border: 1px dashed white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: hidden;
}

.image_presenter {
    object-fit: cover;
    flex: 1;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
