.root {
}
.row {
    display: flex;
    background: rgba(34, 73, 87, 1);
    border-radius: 10px;
    height: 45px;
    align-items: center;
    padding: 0 16px;
    border: 1px solid rgba(34, 73, 87, 1);
    transition: all 200ms ease;
    & > span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.warning {
    color: var(--error-color);
    font-size: 10px;
}
